<h1>New blog</h1>

<%= simple_form_for @blog, :url => angel_blogs_path(@angel), :html => { :multipart => true} do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Back', angel_blogs_path(@angel) %>
